.MainSquare {
  width: 50%;
  height: 60%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.3);
  box-shadow: 0px 0px 50px -20px gray;
}

img {
  z-index: 1000;
  max-height: 40%;
  max-width: 100%;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.FromAndResult {
  width: 75%;
  height: 30%;
  box-sizing: border-box;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submitButton{
  background-color: #A65C9E; 
  border-radius:10px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  top: 65%;
  left: 50%;
  position: absolute;
  width: 70%;
  height: 25%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.submitButton:hover {
  box-shadow: 0 0px 16px 0 rgba(128, 128, 128, 0.3), 0 0px 50px 0 rgba(128, 128, 128, 0.3);
}

.submitButton:active {
  background-color: rgb(133, 73, 127)
  
}

#jsonFile {
  border-radius: 10px;
  width: 70% !important;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}


