body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/public/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  
}
